@import "variables";
@import "reset";
@import "header";
@import "content";
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-family: $font;
    color:#dddd;
}
body{
    background-color: #0D1117;
}



